body{
    font-family: Arial, sans-serif;
    background-color:#eaeaea;
}
.oppo{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 25px;
  margin: 20px;
  background: linear-gradient(90deg,#c8d6ea,#9fb5cf);
  border-radius:12px;
  max-height: 280px;
}
left-box{
  width: 50%;
}
right-box{
  width: 50%;
}
.left-box h1{

  font-size: 45px;
  font-weight: 700;

}
.left-box p{
font-size: 20px; 
color:#151212;
margin:20px 0;
}
.left-box span{
font-size: 15px;
}
button{
background:#5a5c8f;
color:white;
border:none;
padding:10px 25px;
border-radius:5px;
}
.logo{
padding:4px 8px;
color:white;
border-radius:5px;
font-size:18px;
}
.red{
background:#d32f2f;
}
.blue{
background:#1e88e5;
}
.right-box img{
max-height:280px;
}
.homepage{
display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 0;
  margin: 8px 0px;
  padding: 12px;
}

.deals h2{
font-size:16px;
color: #141414;
font-weight: 900;
letter-spacing: -.48px;
line-height: 20px;
margin-left: 20px;
}
.sub-text{
font-weight: 500;
font-size: 18px;
letter-spacing: -.06px;
margin: 23px 19px;
line-height: 0%;
}


.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;

}
.badge1{
  background: #007fad;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 8px;
border-radius:8px 0;
width: -webkit-max-content;
margin-top: 20px;
color: #fff;
margin-bottom: 20px;
}
.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #eee;
}

.sub-text1{
color:#3a2f2f;
margin: bottom 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;

}
.badge1{
  background: #007fad;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 8px;
border-radius:8px 0;
width: -webkit-max-content;
margin-top: 20px;
color: #fff;
}
.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #eee;
}
.product-card img {
  width: 100%;
  height: 180px;
}
.product-card h4 {
  font-size: 12px;
  margin: 10px 0;
  color: #000000a6;
}

.mrp1{
color:#A1A1A1;
font-size:12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -.005em;
text-align: left;
}

.price1 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 10px 0;
}
.price1 span {
  color:#00b259;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -.005em;
 
}
.mrp1{
color:#A1A1A1;
font-size:12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -.005em;
text-align: left;
 margin: 10px 0;

.card h4{
font-size:16px;
margin:10px 0;
}

}
.mrp1 span{
  text-decoration: line-through;
  color: #aaa;
}

.rating{
color:rgb(247, 171, 32);
font-size:14px;
 margin: 10px 0;
}
.specialdeals{
 display: flex;
  align-items: center;
  justify-content:space-between;
  background:#fff;
  margin: 16px auto;
  border-radius: 16px;
  padding: 16px;
}
.deals h2{
font-size:30px;
margin-left: 20px 50px;
}

.deals-container{
display:flex;
gap:30px;
flex-wrap:wrap;
margin: 50px;
padding-left: 40px;
}

.deal-card{
background:white;
width:220px;
height: 270px;
border-radius:12px;
text-align:center;
border:3px solid #1e9acb;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.deal-card h3{
margin-bottom:10px;
}

.price{
display:inline-block;
background:#1e9acb;
color:white;
padding:3px 10px;
border-radius:6px;
font-size:14px;
margin-bottom:15px;
}

.deal-card img{
width:100%;
height:150px;
object-fit:contain;
margin-bottom:10px;
}

.deal-card p{
color:#555;
font-size:14px;
margin-top: -10px;
}
.offer-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.offer-content {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  justify-content: center;
}
.bank {
  background: #8b1c1c;
  color: white;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 4px;
}

.divider {
  width: 1px;
  height: 25px;
  background: #ccc;
}

.text {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.highlight {
  color: red;
  font-size: 48px;
}

.emi {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


.containerash h2{
  color:rgb(0, 0, 0);
  font-weight: 2000 bold;
 
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(234, 20, 20);
    font-weight: 4000 bold;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}
.main-header {
  display: flex;
  align-items: center;
  background-color: #e42529;
  padding: 10px 20px;
  color: white;
  padding: 12px 20px; 
}
.logo {
  height: 40px;
  width: 80%;
}
.header-center {
  flex: 1;
  margin: 0 15px;
}
.header-center input {
  width: 95%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
}
.header-right {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  gap: 10px;
}
.top-links {
  display: flex;
  gap: 15px;
  font-size: 12px;
   margin-bottom: 4px; 
}
.bottom-links {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}


.location {
  display: flex;
  align-items: center;
  gap: 5px;
}


.header-right span {
  cursor: pointer;
}
.acer-container {
  display: flex;            
  align-items: center;
  justify-content: space-between;;
  padding: 30px 40px;
  margin: 20px;
  background: linear-gradient(90deg,#555454,#838383,#afafad);
  border-radius: 12px;
  height: 280px;          
}
.left-boxslider {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: flex-start;
}
.right-boxslider {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-boxslider img {
  max-width: 100%;
  height: auto;
}
.left-boxslider h1 {
  font-size: 42px;
  margin-bottom: 10px;
   font-weight: bold;
}
.subtextslider {
font-size: 20px;
  margin: 8px 0;
  color: #f1f1f1;
 text-align: left; 
}
.logosslider {
   margin-top: 15px;

  display: flex;
  gap: 10px;
}
.logo {
margin-top: 15px;
display: flex;
gap: 10px;
}
.redslider {
  background: white;
  color: orange;
}

.blueslider {
  background: white;
  color: black;
}
.subtextslider{
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  justify-content: center;
}
.logosslider{
padding:5px 10px;
justify-content: center;
text-align: center;

}
.redslider{
background:#ffffff;
color: #ffb400;
}
.blueslider{
background:#ffffff;
color: #000;
}
.right-boximgslider{
max-height:280px;
}
.containerfreeinstallation {
  width: 90%;
  margin: 30px auto;
  padding: 15px 20px;
  background-color: #ffffff; 
  border-radius: 6px;
}

.offer-barfreeinstallation {
  display: flex;
  align-items: center;   
  gap : 15px;           
}

.icon {
  width: 50px;
  height: 70px;
}

.offer-barfreeinstallation h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  font-family: Arial, sans-serif;
  
}


.red-textfreeinstallation {
  color: #e53935;
  
}


.blue-textfreeinstallation {
  color: #1a237e;
}
.h3 {
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}
p {
    font-size: 18px;
    color: #666;
    margin-left: 40px;
}
.main-title {
    font-size: 32px;     
    color: #110f0f;      
    font-weight: 700;
    margin-left: 50px;
}
.subtextparagraph {
    font-size: 20px;
    color: #726767;
    margin: 5px 0 20px 20px;
    margin-left: 50px;
}
.acpage{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 0;
  margin: 8px 0px;
  padding: 12px;
}
.ratingac{
color:rgb(247, 171, 32);
font-size:14px;
 margin: 10px 0;
}
.bestselling{
font-size:16px;
color: #141414;
font-weight: 900;
letter-spacing: -.48px;
line-height: 20px;
margin-left: 20px;
}
.containerac1-section{
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}
.cardac{
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #eee;
}
.badgeac{
  background: #007fad;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 8px;
border-radius:8px 0;
width: -webkit-max-content;
margin-top: 20px;
color: #fff;
margin-bottom: 20px;
}
.priceac{
 font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 10px 0;
}
.priceac span{
  color:#00b259;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -.005em;
}
.mrpac{
  color:#A1A1A1;
font-size:12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -.005em;
text-align: left;
}
.image-title{
color: #000000;
font-size: 14px;
 -webkit-line-clamp: 2;
}
.containerac {
  display: flex;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;   
    justify-items: center;
    padding: 20px;
  flex-wrap: wrap;
    text-align: center;
  width:80%;
  justify-content:center; 
}
.boxac {
  background: rgb(244, 244, 244);
  color: rgb(10, 10, 10);
  padding: 10px;
  text-align: center;
   height: 200px;
   width:100%;
   padding: 15px;
    max-width: 180px;
}
.image-accontainer{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width:80%;
  
}
.bluecontainer {
  display: flex;
  gap: 10px;
  margin-top:30px;
  width: 80%;
  padding: 50px;
 justify-content: center;
 align-items: center;
 margin-left: 40px;
}
.blueimg {
  background: #f5f5f5;
  color: white;
  padding: 10px;
  text-align: center;
  width:90%;
justify-content: center;
  
}
.ratingac {
  margin-top: 8px;
  font-size: 14px;
  color: orange;
}
.featurecontainer .product {
  display: flex;
  gap: 10px;
}
.starcontainer{
  text-align: center;
  justify-content: center;
  width:100%;
  border-radius: 20px;
  display: flex;

}
.starbox{
 display: grid;
 background: linear-gradient(180deg, #f0bb8a, #686768, #8b8988);
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px;
  width: 90%;
  border-radius: 20px;
  align-items: center;   
  justify-items: center;
  padding: 20px;
  flex-wrap: wrap; 
}
.starcard{
  width: 100%;
  height: auto;
  display: block;
  
}
.startitle{
  font-size: 30px;
  color: #e1e0e0;
  font-weight: 400;
  font-family: 'Georgia', serif;

}
.starsubtitle{
font-size: 40px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: 'Georgia', sans-serif;
  white-space: nowrap;
}
.featurecontainer {
  display: grid;
  background: linear-gradient(to bottom, rgb(28, 14, 57), rgb(38, 116, 160));

  grid-template-columns: repeat(6, 1fr); 
  gap: 10px;
    border-radius: 20px;
  align-items: center;   
    justify-items: center;
    padding: 20px;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 50px;
  
}

.featurebox {
  width: 90%;
  color: white;
  padding: 10px;
 
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  max-width: 180px;
}


.carousel{
  margin:100px auto;
  width:100%;
  border: 5px solid #f5f5f5;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
   scrollbar-width: none; 
   padding-left: 10px;
   margin-top: 30px;
}
.corousel ::-webkit-scrollbar{
   display: none;
}
.corouselgroup{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

}
.corouselcard{
  flex: 0 0 5em;
  height: 5em;
  padding:1 em;
  background: #130c0c;
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content:center;
}
.carousel-container{
   position: relative;
  width: 90%;
  margin: 0;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 10px;
}
.group {
  display: flex;   
  gap: 20px;
  padding-left: 20px;
}
.prev, .next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: black;
  color: rgb(246, 243, 243);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev { left: 0; }
.next { right: 0; }
.lastcontainer {
  display: grid;  
  grid-template-columns: repeat(2, 1fr);            
  justify-content: start;
  align-items: center;        
  background-color: rgb(250, 249, 249);    
  padding: 20px;
  width: 80%;
}

.lastbox {
weight:80%;
  height: 100px;
  object-fit: cover; 
  background-color: white;
  border-radius: 10px;
  font-size: 30px;
}
.lastcontainer {
  display: flex;
  justify-content: center;
  gap: 40px;
margin-left: 20px;
width: 80%;
}
.lastimg{
  position: relative;   
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
}
.lastimg{
width: 100%;
  display: block;
  border-radius: 15px;
}
.card {
  position: relative;
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
}
.card img {
  width: 100%;
  display: block;
  border-radius: 15px;
}


.overlay {
  position: absolute;
  bottom: 0;
   left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background: rgba(0, 100, 200, 0.5);
}


.overlay h2 {
  margin: 0;
  font-size: 30px;
}

.overlay p {
  margin: 5px 0 0;
  font-size: 25px;
  color: #ffffff;
}
.sizebox img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 250px; 
}
.sizecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  height: 250px;
   margin-left: 30px;
}

.sizebox {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #00aaff;
  position: relative;
  justify-content: center;
 
  align-items: center;
}

.sizebox img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.overlaylast {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  justify-content: center;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 120, 180, 0.7), transparent);
   backdrop-filter: blur(6px); 
}


.overlay h3 {
  display: inline-block;
  background: rgba(255,255,255,0.3);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 5px;
}
.overlay p3 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.overlaylast .badge {
  display: inline-block;
  background: rgba(255,255,255,0.3);
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: 400 bold;
  margin-bottom: 8px;
  text-align: center;
  
 
}





body {
    background-color: #f5f5f5;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 40px 60px;
    margin: 30px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}
.iPhone17-logo {
  display: flex;
  gap: 10px;
  font-size: 35px;
  font-weight: 600;
  justify-content: center;
}
.content h1 {
    font-size: 50px;
    margin: 10px 0;
}
.gradient-text {
    background: linear-gradient(to right, purple, blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.buy-btn {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: transparent;
  color:black;
  font-size: 20px;
  margin-bottom: 15px;
}

.container {
  width: 90%;
  margin: 40px auto;
  padding: 40px 20px 0;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.shop-btn {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: transparent;
  color:black;
  font-size: 20px;
  margin-bottom: 15px;
}
.sub-text span {
  color: #ff4da6; 
  font-weight: bold;
  font-size: 20px;
}

.main-containerMAA {
  display: flex;
  margin: 50px auto;
  width: 90%;
  gap: 20px;
  padding: 20px;
  background: #f2f2f2;
 justify-content: center;
}
.yashu {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  position: relative;
  border: none;
}
.yashu h2 {
margin: 0 0 20px;
  font-size: 35px;
}

.btnMA {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: transparent;
  color:black;
  font-size: 20px;
  margin-bottom: 15px;
}
.yashu img {
  width: 100%;
  max-height: 300px;
}

.containeraw {
  display: flex;
  margin: 50px auto;
  width: 90%;
  gap: 20px;
  padding: 20px;
  background: #f2f2f2;
 justify-content: center;
}
.cardaw {
  flex: 1;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watch-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  font-weight: 600;
}

.content h2 {
  margin: 0 0 20px;
  font-size: 35px;
}
.buy-btnaw {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: transparent;
  color:black;
  font-size: 20px;
  margin-bottom: 15px;
}
.containerACC {
  width: 90%;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Accessories {
  font-size: 20px;
}
.accessories {
  padding: 12px 25px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: transparent;
  color:black;
  font-size: 20px;
  margin-bottom: 15px;
}

.left h1 {
  font-size: 45px;
  margin-bottom: 20px;
}
.center {
  width: 30%;
  text-align: center;
}

.center img {
  height: 250px;
}
.right {
  width: 55%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
   .bestof ai{
display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 0;
  margin: 8px 0px;
  padding: 12px;
}

.dealsai h2{
font-size:35px;
color: #141414;
font-weight: 900;
letter-spacing: -.58px;
line-height: 20px;
margin-left: 20px;
}

.products-containerai {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.badgeai1 {
  background: #007fad;
  font-weight: 500;
  line-height: 16px;
border-radius:4px;
padding:4px 8px ;
width: max-content;
color: #fff;
}
.product-cardai1 {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  border: 1px solid #eee;
}
.product-cardai img {
  width: 100%;
  height: 180px;
}

.product-cardai1 h4 {
  font-size: 14px;
  margin: 12px 0;
  color: #000000a6;
  font-weight: 300;
  font-size: 20px;
}
.priceai1 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.priceai1 span {
  color: #008000;
  font-size: 16px;
  margin-left: 5px;
}
.mrpai1 {
color:#A1A1A1;
font-size:12px;
font-weight: 500;
line-height: 16px;
letter-spacing: -.005em;
text-align: left;
}
.ratingai {
color: rgb(247, 171, 32);
font-size: 25px;
margin-top: 5px;
} 
